.container{
    flex: 0.25;
    
}
.first{
    width: 100%;
    background: white;
    border-radius: 5px; 
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    
}
.header > h2{
    font-size: 13px;
    font-weight: 700;
    font-family: monospace;
}
.show__more{
    display: flex;
    align-items: center;
    padding: 2px;
    font-weight: 700!important;
    cursor: pointer;
}
.second{
    background: white;
    margin-top: 3px;
    border-radius: 5px 
}
.second > h3{
    color: rgb(35, 93, 116);
    font-size: 11px;
    padding: 5px 10px;
    font-weight: x-large;
    text-transform: capitalize;
    font-family: monospace;
    cursor: pointer;
}
.third{
    background: white;
    margin-top: 5px;
    padding: 5px 15px;
    border-radius: 5px;
}
.third > p{
    text-align: center;
    font-size: 8px!important;
}
.third__icon{
     /* display: flex;
    align-items: center;
    justify-content: center;  */
    /* gap: 1rem; */
    /* margin: 0 auto; */
    cursor: pointer;
}
.round{
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
  
}
.third > h3 {
        font-size: 9px;
    padding: 5px 0px;
    text-transform: capitalize;
    font-weight: 700;
    color: gray;
    text-align: center;
    font-family: capitalize;
}
.third > button{
    font-size: 10px;
    display: block;
    text-align: center;
    font-weight: 700;
    text-transform: capitalize;
    border-radius: 20px;
    padding: 3px 10px;
    outline-width: 0;
    border: none;
    color: green;
    border: 1px solid green;
    margin-left: 15px;
    cursor: pointer;
}
